@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'HomeVideo';
  src: url('/fonts/HomeVideo.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  @apply text-sm
}

h1 {
  @apply text-3xl lg:text-5xl
}

h2 {
  @apply text-2xl lg:text-3xl
}

.regularLinkRed {
  @apply text-base md:text-sm px-1 hover:font-bold text-orange-400 transition ease-in-out duration-300
}

.regularLink {
  @apply text-base md:text-sm px-1 hover:font-bold transition ease-in-out duration-300
}

.socialLink {
  @apply text-base md:text-sm px-1 underline hover:text-orange-400 transition duration-300 ease-in-out
}

.menuDivider {
  @apply flex border-t border-white/5 h-0 w-full
}

.navMenuContainer {
  @apply uppercase tracking-widest text-xs py-2 rounded-full drop-shadow-2xl backdrop-blur-sm border-[0.1px] border-white/8
}

.navDropdownMenuContainer {
  @apply bg-black/70 backdrop-blur-sm text-xs rounded-3xl border-l-[0.1px] border-r-[0.1px] border-white/40
}

.navMainItem {
  @apply text-sm hover:opacity-75 duration-300 transition ease-in-out cursor-pointer font-medium
}

.navButton {
  @apply bg-[#1a0f0f]/70 border uppercase tracking-widest text-[9px] border-[#3c302a]/80 px-4 py-2 rounded-full text-xs font-semibold hover:opacity-90 duration-200 transition ease-in-out cursor-pointer
}

.font-homevideo {
  font-family: 'HomeVideo', monospace;
}

.font-inter {
  font-family: 'Inter', monospace;
}

.navMenuItem {
  @apply text-white px-3 tracking-tight pb-1 pt-[4px] rounded-full cursor-pointer duration-200 transition ease-in-out text-[10px]
}

.navDropdownMenuBox {
  @apply flex flex-col text-xs justify-start h-full w-full p-7 gap-3
}

.navDropdownMenuItem {
  @apply flex w-full gap-3 items-center text-[10px] uppercase tracking-widest font-medium text-white/70 hover:text-white duration-150 ease-in-out transition cursor-pointer
}

.navDropdownCaption {
  @apply flex w-full text-xs font-medium uppercase text-white/50 mb-2
}

.navDropdownIcon {
  @apply inline text-[#7b5f57]
}

.footerLink {
  @apply flex flex-row gap-2 items-center tracking-tight opacity-60 hover:opacity-100 ease-in-out transition-all duration-300 text-xs
}

.formSelect{
  @apply appearance-none px-5 py-3 border border-white/10 outline-none rounded-lg w-full cursor-pointer
}

@keyframes mask-flare-loop {
  0% {
    mask-position-x: 0%;
    -webkit-mask-position-x: 0%;
  }

  100% {
    mask-position-x: 100%;
    -webkit-mask-position-x: 100%;
  }
}

.mask-flare-loop {
  mask-size: 400%;
  -webkit-mask-size: 400%;
  mask-image: linear-gradient(60deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 50%, rgb(0, 0, 0) 75%);
  -webkit-mask-image: linear-gradient(60deg, rgb(0, 0, 0) 25%, rgba(0, 0, 0, 0.4) 50%, rgb(0, 0, 0) 75%);
  mask-position-y: 50%;
  -webkit-mask-position-y: 50%;
  animation: mask-flare-loop 2s linear infinite;
  -webkit-animation: mask-flare-loop 2s linear infinite;
}